body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.help {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
    position: absolute;
    height: 80%;
    width: 100%;
}

.text-size {
    font-size: 50px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#FF5959, #FF5959);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.bg-text {
    color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.bg-link {
    text-align: center;
}