body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.section-one {
    margin-bottom: 20%;
}

.section-two {
    margin-bottom: 10%;
}

.help {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
    position: absolute;
    height: 80%;
    width: 100%;
}

.text-size {
    font-size: 50px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#FF5959, #FF5959);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.bg-text {
    color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.bg-link {
    text-align: center;
}

.donate {
    text-align: center;
}

.amount {
    display: flex;
    font-size: x-large;
}

.oh {
    margin-left: 23%;
    margin-top: 4%;
    margin-right: 5%;
}

.th {
    margin-top: 2%;
    margin-right: 5%;
    color: #FF5959;
    background-image: linear-gradient(#FFEEEE, #FFEEEE);
    padding: 2%;
    border: 2px solid;
    border-radius: 5px;
}

.fh {
    margin-top: 4%;
    margin-right: 5%;
}

.ot {
    margin-top: 4%;
    margin-right: 5%;
}

.ft {
    margin-top: 4%;
    margin-right: 17%;
}

input {
    border: none;
    border-bottom: 2px solid #DADADA;
    width: 56%;
    margin-left: 23%;
    margin-right: 27%;
}

.input {
    margin-bottom: 2%;
}

.taka {
    color: #DADADA;
    margin-bottom: 0;
    text-align: center;
}

.donate-text {
    font-size: 30px;
    font-weight: 900;
}